<div [class.alternative]="otherTheme">
  <section class="button-section">
    <button 
      (click)="changeTheme()">
      {{themeStatus}}
    </button>
    <button
      (click)="changeView()">
      {{viewStatus}}
    </button>
  </section>
  <ul class="wrapper" (click)="changeView" [ngClass]="otherView ? 'list' : 'tile'">
    <li class="film" *ngFor="let film of films">
      <img src="{{film.image}}">
      <div>
        <span><br><strong>{{film.name}}</strong></span>
        <span><br>Release year: {{film.year}}</span>
        <span><br>Box office: {{film.cash | cashFormater}}</span>
      </div>
    </li>
  </ul>
</div>
