// Change theme style
.dark {
  background-color: #292929;
  transition: 0.5s;

  .film-data-text {
    color: white;
  }
}

.light {
  background-color: white;
  transition: 0.5s;
}

// Header buttons and search bar style
button:hover {
  background-color: #3232ff;
}

.button-section {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 6vw;
  background-color: #919191;
}

.mat-raised-button {
  min-width: 0;
  line-height: 0;
}

.button-section button {
  white-space: nowrap;
  font-size: 2vw;
  width: 20vw;
  height: 4vw;
  margin-left: 3vw;
  padding: 0;
}

.search_bar {
  font-size: 2.2vw;
  width: 19.5vw;
  height: 3vw;
  margin-left: 3vw;
  padding: 0 0 0 0.5vw;
  border: none;
}

// Remove and favorite button style
.wrapper__film__btn-on-image__remove {
  font-size: 1.5vw;
  width: 3vw;
  height: 2vw;
  padding: 0;
  border-radius: 0.2vw;
  position: absolute;
  right: -0.7vw;
  top: -0.5vw;

  z-index: 2;
}

.wrapper__film__btn-on-image__favorite {
  font-size: 1.5vw;

  width: 3vw;
  height: 2vw;
  padding: 0;

  position: absolute;

  right: -0.7vw;
  bottom: -0.5vw;
  z-index: 2;
  border-radius: 0.2vw;
}

// Tile style
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin-top: 2vw;

  .film {
    border: 0.01vw solid #919191;
  }
}

.wrapper__film {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vw;

  img {
    width: 23vw;
    height: 30.6vw;
  }

  .wrapper__film__btn-on-image {
    position: relative;
    width: 23vw;
    height: 30.6vw;
    margin-bottom: 0.4vw;
  }

  .wrapper__film__info {
    position: relative;
    font: 400 2.5vw Roboto, "Helvetica Neue", sans-serif;
  }
}

.wrapper__film__info__name {
  display: table;
  margin: 0 auto;
}

span {
  font: 400 2.5vw Roboto, "Helvetica Neue", sans-serif;
}

// List style
.list {
  display: flex;
  flex-direction: column;
  padding: 0;

  img {
    position: relative;
    width: 9vw;
    height: 12vw;
  }

  .wrapper__film__btn-on-image {
    position: relative;
    width: 9vw;
    height: 12vw;
    margin-bottom: 0;

    .wrapper__film__btn-on-image__remove,
    .wrapper__film__btn-on-image__favorite {
      font-size: 1.5vw;
      width: 3vw;
      height: 2vw;

    }
  }

  .wrapper__film {
    background-color: pink;
    height: 6vw;
    display: flex;
    flex-direction: row;
    margin: 1vw;
    border: 0.1vw solid #919191;

    article {
      display: flex;
      position: absolute;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 78vw;
      margin-right: 0vw;
      right: 8vw;

      span {
        color: black;
        width: 12vw;
        margin-left: 3vw;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.wrapper__film__info__actors {
  font-size: 2vw;
}

// Favorite button style
.favorite {
  background-color: rgb(166, 54, 54);
}

.favorite:hover {
  background-color: rgb(156, 21, 21);
}