<!-- <div class="wrapper">
  <div class="film" *ngFor="let film of films">
    <img src="{{film.image}}">
    <span><br>{{film.name}}</span>
    <span><br>Release dates: {{film.year}}</span>
    <span><br>Box office: {{film.cash}}</span>
  </div>
</div> -->
<!-- 
<ul class="wrapper">
  <li class="film" *ngFor="let film of films">
    <img src="{{film.image}}">
    <div>
      <span><br>{{film.name}}</span>
      <span><br>Release year: {{film.year}}</span>
      <span><br>Box office: {{film.cash}}</span>
    </div>
  </li>
</ul> -->